<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <title>lyrics</title>
  <link rel="stylesheet" type="text/css" href="css/style.css">
  <link rel="stylesheet" type="text/css" href="css/normalize.css">
  <link href="https://fonts.googleapis.com/css?family=Alice|PT+Sans+Caption|Pacifico|Quattrocento+Sans" rel="stylesheet">

</head>
<body>
<form class="logout" action="/users/profile"  accept-charset="utf-8">
      <input type="Submit" Value="Home" class="color"></a>

</form>

<form class="logout" action="/auth?_method=DELETE" method="post">
      <input type="submit" value="Logout" class="color">
</form>
<br>
<br>
    <h2>Encyc-lyric-pedia</h2>
<p>Search Results</p>
<h5 name="track">Song: <%= lyrics.message.body.track_list[0].track.track_name %></h5>
<h5 name="artist">Artist: <%= lyrics.message.body.track_list[0].track.artist_name %></h5>
<h5>Album: <%= lyrics.message.body.track_list[0].track.album_name %></h5>
<div class="frame">
  <iframe src="<%= lyrics.message.body.track_list[0].track.track_share_url %> ">
  </iframe>
</div>
<form action="/save" method="post">
  <input type="hidden" name="track" value="<%= lyrics.message.body.track_list[0].track.track_name %>">
  <input type="hidden" name="artist" value="<%= lyrics.message.body.track_list[0].track.artist_name %>">
  <input type="submit" value="LIKE" class="butt">
</form>
</body>
</html>
